@tailwind base;
@tailwind components;
@tailwind utilities;

.dog-image {
  position: relative;
  width: 400px;
  /* z-index: 1; */
  /* height: 500px; */
}

.heart-button {
  width: 40px;
  /* float: right; */
}

.heart-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  /* position: absolute; */
  /* z-index: 2; */
  /* top: 0px; */

}

.card-body {
  display: flex;
  flex-direction: column;
}

.card card-compact w-96 bg-base-100 shadow-xl {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}