@tailwind base;
@tailwind components;
@tailwind utilities;

/* Home Page */
.main-container {
  margin: 10px;
}

/* Filter Page*/
.filter-card-container {
  display: flex;
  flex-direction: row;
}

.filter-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.filter-label {
  font-weight: bold;
  font-size: 20px;
}

.toggle-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

/* Card Page */
.dog-image-container {
  display: flex;
  height: 350px;
}

.dog-image {
  position: relative;
  width: 400px;
  /* height: 400px; */
  /* z-index: 1; */
  /* height: 500px; */
}

.heart-button {
  width: 40px;
  /* float: right; */
}

.heart-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  /* position: absolute; */
  /* z-index: 2; */
  /* top: 0px; */

}

.card-body {
  display: flex;
  flex-direction: column;
}

/* CardHolder Page */
.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  margin: 10px;
  /* justify-content: flex-start; */
  /* align-items: center; */
}