@tailwind base;
@tailwind components;
@tailwind utilities;

/* Home Page */

.main-container {
  margin: 10px;
}

.title-logo-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  /* align-items: center; */
}

.title-logout-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dogfinder-logo {
  max-width: 200px;
}

.logout-text {
  text-decoration: underline;
  font-size: 16px;
}

.logout-container {
  padding: 10px 20px 0 0;
}

/* Filter Page*/
.toggle-container {
  display: flex;
  flex-direction: row;
  padding: 30px 0 0 0;
}

.form-selection {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.filter-result-btn-container {
  display: flex;
  flex-direction: column;
  padding: 10px 0 0 0;
}

.filter-card-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.filter-container {
  display: flex;
  flex-direction: column;
  position: sticky;
  max-width: 250px;
  gap: 10px;
}

.filter-label {
  font-weight: bold;
  font-size: 20px;
}

.match-text-container {
  display: flex;
  flex-direction: column;
  padding: 50px 0 0 0;
  gap: 10px;
  font-size: 12px;
}

.no-match-container {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

/* Card Page */
.dog-image-container {
  display: flex;
  flex-direction: row;
  width: 250px;
}

.dog-image {
  position: relative;
  width: 250px;
  height: 200px;
  object-fit: cover;
  object-position: 100% 0;
}

.heart-button {
  width: 30px;
}

.heart-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.card-body {
  display: flex;
  flex-direction: column;
  padding: 0;
}

/* Cardholder Page */
.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  margin: 10px;
  max-height: 80vh;
  overflow: scroll;
}

/* Match Page */
.btn modal {
  height: 100px;
  margin: 10px;
}

/* Login Page */
.logo-header-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}